@mixin grid {
    display: grid;
    grid-gap: 1.5rem;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin padding-section {
    padding: 3.5rem 1.5rem;
}

@mixin padding-footer {
    padding: 1.5rem 1.5rem 1.5rem 2rem;
}

@mixin box-shadow {
    box-shadow: 0 0.25rem 0.75rem darken($grey-background, 10%);
}

@mixin btn-style($grey: $grey-background) {
    position: relative;
    z-index: 1;
    border-radius: 3.5rem;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    background-image: linear-gradient(-10deg, $primary-color, $secondary-color);
    box-shadow: 0 0.25rem 1rem darken($grey, 35%);
}