.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-image: linear-gradient(to bottom, #A6A6A6, $medium-grey 10%);
    input {
        border: none;
        background-color: $medium-grey;
        text-align: center;
    }
}