.search-section__bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-image: linear-gradient(to bottom, darken($grey-background, 35%), darken($grey-background, 15%) 10%);
    input {
        border: none;
        background-color: darken($grey-background, 15%);
        text-align: center;
        @media (min-width: 600px) {
            font-size: 1.25rem;
        }
    }
}