header {
    position: relative;
    @include flex-center;
    justify-content: center;
    padding: 1rem;
    .arrow-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 10%;
        height: 100%;
        @include flex-center;
        justify-content: center;
    }
}