.fa-arrow-left {
    font-size: 1.25rem;
    color: $black-color;
}

.fa-heart {
    font-size: 1.5rem;
}

.checkbox {
    position: absolute;
    z-index: 10;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $third-color;
    border-radius: 0 1rem 1rem 0;
    i {
        font-size: 1.25rem;
        color: white;
    }
}