* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: 250ms ease-in-out;
    outline: none;
}

html {
    font-size: 12px;
    scroll-behavior: smooth;
    width: 100vw;
    overflow-y: auto;
    @media (min-width: 600px) {
        font-size: 16px;
    }
    @media (min-width: 2559px) {
        font-size: 24px;
    }
}

::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
    background-color: $dark-background;
}

#home-page {
    animation: no-scroll 3s;
}

.main-page {
    h2 {
        margin-bottom: 1rem;
    }
}

.command-button {
    min-height: 8rem;
    @include flex-center;
    justify-content: center;
    padding-bottom: 1rem;
}

.flex {
    display: flex;
    justify-content: space-between;
}