@import "./abstracts/variables";
@import "./abstracts/functions";
@import "./abstracts/mixins";
@import "./abstracts/extensions";

@import "./base/base";
@import "./base/typography";

@import "./layout/header";
@import "./layout/grid";
@import "./layout/footer";
@import "./layout/form";

@import "./components/buttons";

.main-page {
    h2 {
        margin-bottom: 1rem;
    }
}

.searchSection {
    text-align: center;
    .presentation {
        padding: 3rem 2rem;
        background-color: $grey-background;
        p {
            font-size: 1.1rem;
            margin-bottom: 1rem;
            font-weight: 300;
        }
        button {
            padding: 1rem 1.5rem;
            margin: 1rem 0;
            @include btn-style;
        }
    }
}

.stepsSection {
    padding: 3rem 1rem 3rem 1.75rem;
    h2 {
        margin-left: -0.75rem;
    }
    .step-information {
        display: grid;
        grid-template: repeat(3, 1fr) / 1fr;
        grid-gap: 1rem;
        div {
            position: relative;
            padding: 1.5rem;
            border-radius: 1rem;
            background-color: $grey-background;
            box-shadow: 0 0.25rem 1rem darken($grey-background, 15%);
            display: flex;
            align-items: center;
            .step-number {
                border-radius: 50%;
                width: 1.5rem;
                height: 1.5rem;
                position: absolute;
                top: 50%;
                left: -0.75rem;
                transform: translate(0, -50%);
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $primary-color;
                color: white;
                font-size: 0.75rem;
            }
            i {
                color: $dark-grey;
                font-size: 1.1rem;
                padding: 0 1rem;
            }
            p {
                font-weight: 500;
                font-size: 1.1rem;
                padding: 0 1rem;
            }
        }
    }
}

.step-information > div:hover {
    background-color: rgba(147, 86, 220, 0.15);
}

.step-information > div:hover i {
    color: $primary-color;
}

.menu h2 {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    margin: 1rem 0rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.25rem;
    display: inline-block;
}

.menu h2:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 2.5rem;
    height: 0.2rem;
    background-color: $third-color;
}

.restaurantsSection {
    padding: 2.5rem 1rem;
    background-color: $grey-background;
    .restaurantsList {
        display: grid;
        grid-template: repeat(4, 1fr) / 1fr;
        grid-gap: 1rem;
        padding-bottom: 1rem;
        .restaurantFrame {
            border-radius: 1.25rem;
            box-shadow: 0 0.25rem 1rem darken($grey-background, 15%);
            background-color: white;
            width: 100%;
            min-height: 15rem;
            a {
                position: relative;
                width: 100%;
                height: 100%;
                display: block;
                .new {
                    position: absolute;
                    top: 0.75rem;
                    right: 0.75rem;
                    z-index: 20;
                    background-color: $third-color;
                    padding: 0.5rem 0.75rem;
                }
                figure {
                    width: 100%;
                    height: 100%;
                    display: grid;
                    grid-template-rows: 70% 30%;
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        border-radius: 1.25rem 1.25rem 0 0;
                    }
                    figcaption {
                        padding: 1rem;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        div {
                            p {
                                margin-top: 0.25rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

.picture-section {
    width: 100%;
    min-height: 20rem;
    z-index: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.first-picture {
    background-image: url('../../resources/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
}

.second-picture {
    background-image: url('../../resources/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg');
}

.third-picture {
    background-image: url('../../resources/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
}

.fourth-picture {
    background-image: url('../../resources/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg');
}

.menu-section {
    z-index: 10;
    margin-top: -2.5rem;
    border-radius: 2.5rem 2.5rem 0 0;
    padding: 2rem 1rem;
    background-color: #F2F2F2;
    .heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        h1 {
            font-family: 'Shrikhand', display;
            letter-spacing: 0.05rem;
        }
        .fa-heart {
            padding-right: 1rem;
        }
    }
}

.choice {
    h2 {
        font-size: 1.1rem;
    }
}

.command-button {
    min-height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    button {
        padding: 1rem 2.5rem;
        @include btn-style;
    }
}

.list {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
    grid-gap: 1rem;
    padding-bottom: 1rem;
}

.list > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: white;
    padding: 0.75rem;
    border-radius: 1rem;
    box-shadow: 0 0.25rem 1rem darken($grey-background, 15%);
    p {
        margin-top: 0.25rem;
    }
}

.flex {
    display: flex;
    justify-content: space-between;
    padding-right: 0.75rem;
}

.list > div:hover {
    .checkbox {
        width: 4rem;
    }
}

.logo-link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media only screen and (min-width: 600px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1000px) {
    .step-information {
        grid-template: 1fr / repeat(3, 1fr);
    }
    .list {
        grid-template: 1fr / repeat(3, 1fr);
    }
}