@import "./abstracts/variables";
@import "./abstracts/functions";
@import "./abstracts/mixins";
@import "./abstracts/extensions";

@import "./base/base";
@import "./base/typography";

@import "./layout/header";
@import "./layout/grid";
@import "./layout/footer";
@import "./layout/form";

@import "./components/buttons";
@import "./components/frames";

@import "./animations/animations";

.main-page {
    h2 {
        margin-bottom: 1rem;
    }
}

.searchSection {
    text-align: center;
    .presentation {
        @include padding-section;
        background-color: $grey-background;
        p {
            font-size: 1.1rem;
            margin: 1rem 0 1.5rem 0;
            font-weight: 300;
        }
    }
}

.stepsSection {
    padding: 3.5rem 1.5rem 3.5rem 2.25rem;
    h2 {
        margin-left: -0.1125rem;
    }
    .step-information {
        @include grid;
        grid-template: repeat(3, 1fr) / 1fr;
        @media (min-width: 1000px) {
            grid-template: 1fr / repeat(3, 1fr);
        }
        div {
            position: relative;
            padding: 1.5rem;
            border-radius: 1rem;
            background-color: $grey-background;
            @include box-shadow;
            @include flex-center;
            .step-number {
                border-radius: 50%;
                width: 1.5rem;
                height: 1.5rem;
                position: absolute;
                top: 50%;
                left: -0.75rem;
                transform: translate(0, -50%);
                @include flex-center;
                justify-content: center;
                background-color: $primary-color;
                color: $white-color;
                font-size: 0.75rem;
            }
            i {
                color: darken($grey-background, 40%);
                font-size: 1.1rem;
                padding: 0 1rem;
            }
            p {
                font-weight: 500;
                font-size: 1.1rem;
                padding: 0 1rem;
            }
        }
    }
}

.step-information > div:hover {
    background-color: rgba(147, 86, 220, 0.15);
    i {
        color: $primary-color;
    }
}

.menu h2 {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    margin: 1rem 0rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.25rem;
    display: inline-block;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 2.5rem;
        height: 0.2rem;
        background-color: $third-color;
    }
}

.restaurantsSection {
    @include padding-section;
    background-color: $grey-background;
    .restaurantsList {
        @include grid;
        grid-template: repeat(4, 1fr) / 1fr;
        padding-bottom: 1rem;
        @media (min-width: 900px) {
            grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        }
        .restaurantFrame {
            border-radius: 1.25rem;
            @include box-shadow;
            background-color: $white-color;
            width: 100%;
            height: 15rem;
            a {
                position: relative;
                width: 100%;
                height: 100%;
                display: block;
                .new {
                    position: absolute;
                    top: 0.75rem;
                    right: 0.75rem;
                    background-color: $third-color;
                    padding: 0.5rem 0.75rem;
                }
                figure {
                    width: 100%;
                    height: 100%;
                    display: grid;
                    grid-template-rows: 70% 30%;
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        border-radius: 1.25rem 1.25rem 0 0;
                    }
                    figcaption {
                        padding: 1rem;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        div {
                            p {
                                margin-top: 0.25rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

.picture-section {
    width: 100%;
    min-height: 20rem;
    z-index: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @media (min-width: 1000px) {
        min-height: 30rem;
    }
}

.first-picture {
    background-image: url('../../resources/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg');
}

.second-picture {
    background-image: url('../../resources/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg');
}

.third-picture {
    background-image: url('../../resources/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
}

.fourth-picture {
    background-image: url('../../resources/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg');
}

.menu-section {
    z-index: 10;
    margin-top: -2.5rem;
    border-radius: 2.5rem 2.5rem 0 0;
    padding: 2.5rem 1rem;
    background-color: $grey-background;
    .heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        h1 {
            font-family: 'Shrikhand', display;
            letter-spacing: 0.05rem;
        }
        .fa-heart {
            padding-right: 1rem;
        }
    }
}

.choice {
    h2 {
        font-size: 1.1rem;
    }
}

.command-button {
    min-height: 8rem;
    @include flex-center;
    justify-content: center;
    padding-bottom: 1rem;
}

.flex {
    display: flex;
    justify-content: space-between;
}